*{
    margin: 0px;
    padding: 0px;
    font-family: 'Philosopher', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    position: relative;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin-left: 100px;
}

.listitems{
    display: inline;
    margin-right: 40px;
}

.logo{
    width: 200px;
}

.link{
    text-decoration: none;
    font-size: 20px;
    color:#000000;
    transition: font-size 1s;
}
.link:hover{
    color: red;
    font-size: 30px;
}
.title{
    margin-left: 10%;
    margin-top: 13%;
}
.title_h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.title_h1 span{
    color: #0077b3;
}
.title_p{
    font-size: 25px;
    margin-bottom: 30px;
}
.download{
    background-color: #000000;
    padding: 10px 5px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}
.image{
    position: absolute;
    right: 0px;
    top: 300px;
    bottom: 0px;
    height: 100%;
    width: 30%;
}
.img{
    width: 100%;
    transition: width 1s;
}
.img:hover{
    width: 80%;
}
#about{
    margin-top: 20%;
    margin-left: 8%;
}
.heading{
    text-align: center;
    margin-bottom: 30px;
}
.heading h1{
    font-size: 50px;
}
.heading h3{
    font-size: 30px;
    color: #138613;
}
.abt_content{
    display: grid;
    grid-template-columns: auto auto;
}
.abt_img img{
    width: 600px;
}
.abt_intro{
    font-size: 20px;
    text-align: justify;
}
html{
    scroll-behavior: smooth;
}
#skill{
    margin-top: 20%;
    margin-left: 8%;
}
.skilhead{
    text-align: center;
    margin-bottom: 30px;
}
.skilhead h1{
    font-size: 50px;
}
.skilcont{
    text-align: justify;
    text-align: center;
    font-size: 20px;
}